# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
flutter_*.png

# IDE related
.idea/
.vscode/
*.iml

# MacOS
.DS_Store

# Android/iOS native
android/.gradle/
android/captures/
*.jks
*.keystore

# Others
*.log
